$store_admin_background_color: #f4f6f9;
$store_admin_brown_s1_l1: #d6beb2;
$store_admin_brown_s1_l2: #9b6e57;
$store_admin_brown_s1_l3: #754933;
$store_admin_brown_s2_l1: #ebe6e3;
$store_admin_brown_s2_l2: #d4ccc7;
$store_admin_brown_s2_l3: #aa998f;
$store_admin_brown_s2_l4: #7b6465;
$store_admin_brown_s3_l1: #d1be9c;
$store_admin_green_l1: #628275;
$store_admin_green_l2: #4c6158;
$store_admin_green_l3: #1f3b2f;
$store_admin_green_l4: #16261f;
$store_admin_other1: #ef6969;
$store_admin_other2: #587fff;
$animationDuration: 0.5s;

@import 'src/vue2-animate/sass/vue2-animate.scss';

::-webkit-scrollbar {
  /*Chrome scrollbar*/
  width: 1.25rem * 0.5;
  height: 5px;
  background-color: $store_admin_brown_s2_l1;
}
::-webkit-scrollbar-thumb {
  border-radius: 99rem;
  background-color: $store_admin_brown_s2_l2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $store_admin_brown_s2_l4;
}

.custom-brown1-1--text {
  color: $store_admin_brown_s1_l1 !important;
  caret-color: $store_admin_brown_s1_l1 !important;
}
.custom-brown1-2--text {
  color: $store_admin_brown_s1_l2 !important;
  caret-color: $store_admin_brown_s1_l2 !important;
}
.custom-brown1-3--text {
  color: $store_admin_brown_s1_l3 !important;
  caret-color: $store_admin_brown_s1_l3 !important;
}

.custom-brown2-1 {
  background-color: $store_admin_brown_s2_l1 !important;
  border-color: $store_admin_brown_s2_l1 !important;
}

.custom-brown2-1--text {
  color: $store_admin_brown_s2_l1 !important;
  caret-color: $store_admin_brown_s2_l1 !important;
}
.custom-brown2-2--text {
  color: $store_admin_brown_s2_l2 !important;
  caret-color: $store_admin_brown_s2_l2 !important;
}
.custom-brown2-3--text {
  color: $store_admin_brown_s2_l3 !important;
  caret-color: $store_admin_brown_s2_l3 !important;
}
.custom-brown2-4--text {
  color: $store_admin_brown_s2_l4 !important;
  caret-color: $store_admin_brown_s2_l4 !important;
}

.custom-brown3-1--text {
  color: $store_admin_brown_s3_l1 !important;
  caret-color: $store_admin_brown_s3_l1 !important;
}

.custom-green-1--text {
  color: $store_admin_green_l1 !important;
  caret-color: $store_admin_green_l1 !important;
}
.custom-green-2--text {
  color: $store_admin_green_l2 !important;
  caret-color: $store_admin_green_l2 !important;
}
.custom-green-3--text {
  color: $store_admin_green_l3 !important;
  caret-color: $store_admin_green_l3 !important;
}
.custom-green-4--text {
  color: $store_admin_green_l4 !important;
  caret-color: $store_admin_green_l4 !important;
}

.custom-other-1--text {
  color: $store_admin_other1 !important;
  caret-color: $store_admin_other1 !important;
}
.custom-other-2--text {
  color: $store_admin_other2 !important;
  caret-color: $store_admin_other2 !important;
}

html,
body {
  overscroll-behavior-x: none;
}

.no-backgroud-hover.white::before {
  background-color: #fff !important;
}

.theme--light.v-application {
  background: $store_admin_background_color;
  color: rgba(0, 0, 0, 0.87);
}

.background-color {
  background-color: $store_admin_background_color !important;
}

.need:after {
  content: '*';
  color: #f95454;
  padding-left: 0.2rem;
}

.font_size1-1 {
  font-size: 1.1rem !important;
}

.font_size1-5 {
  font-size: 1.5rem !important;
}

.cus_ui_card {
  .master_title.ori {
    padding: 0 16px 0 16px;
  }

  .master_title::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 5px;
    height: 20px;
    margin-right: 7px;
    background-color: #d1be9c;
    border-radius: 99rem;
  }

  .cus_mobile_card.mobile {
    margin: 0;
    padding: 0 16px 0 16px;

    .cus_mobile_card_row {
      align-items: center;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      word-break: break-all;

      .cus_mobile_card_header {
        min-width: 95px;
        font-size: 1rem;
        font-weight: bold !important;
        padding-right: 16px;
      }

      .cus_mobile_card_cell {
        text-align: right;
        font-weight: 300;
        width: 100%;
      }
    }

    .flex_col {
      flex-direction: column;

      div {
        margin-top: 5px;
      }
    }
  }

  .cus_mobile_card {
    margin: 0;
    padding: 0 64px 0 64px;

    .cus_mobile_card_row {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      word-break: break-all;

      .cus_mobile_card_header {
        font-size: 1rem;
        font-weight: bold !important;
        padding-right: 16px;
        min-width: 120px;
      }

      .cus_mobile_card_cell {
        text-align: right;
        font-weight: 300;
        max-width: 750px;
        width: 100%;
      }

      .cus_mobile_card_cell.text-left {
        text-align: left;
      }
    }

    .flex_col {
      flex-direction: column;

      div {
        margin-top: 5px;
      }
    }
  }
}

.cus_mobile_card_row + .cus_mobile_card_row {
  margin-top: 15px;
}

.title_dash_front::before {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 5px;
  height: 20px;
  margin-right: 7px;
  background-color: #d1be9c;
  border-radius: 99rem;
}
